.DS_Store
*.sync-conflict-*
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/
._*
.trash/
content/pt-br/resource/escolainverno/Complemento/
